/sites/dev.anti-dev.englishdemocracy.co.uk.config.php
/sites/dev.social_netcast.englishdemocracy.co.uk.config.php
/sites/dev.fullstacksocial.com.config.php
/sites/project-x.greenhat-solutions.co.uk.config.php
/sites/project-x.local.config.php
/sites/project-x.greenhat-solutions.co.uk.config.php
*/secrets/*
composer*
vendor/*
tests/resources/fake-site.co.uk/logs/
