<html><head><title>GWC Unit Test Template</title></head><body>GWC Framework by Adrian Green</body><footer>This is the footer</footer>
<footer>
<table>
<tr><td>10:50:57 19/04/2022^TEMPLATE: Initialising template engine using root directory [D:\Websites\GIT_Repos\green_framework\tests\resources\fake-site.co.uk\templates\]</td></tr>
<tr><td>10:50:57 19/04/2022^TEMPLATE: Global Header template [D:\Websites\GIT_Repos\green_framework\tests\resources\fake-site.co.uk\templates\header.html]</td></tr>
<tr><td>10:50:57 19/04/2022^TEMPLATE: Global Footer template [D:\Websites\GIT_Repos\green_framework\tests\resources\fake-site.co.uk\templates\footer.html]</td></tr>
<tr><td>10:50:57 19/04/2022^TEMPLATE: Adding variable [s:5:"title";] with value [s:3:"GWC";]</td></tr>
<tr><td>10:50:57 19/04/2022^TEMPLATE: Adding variable [s:6:"author";] with value [s:12:"Adrian Green";]</td></tr>
<tr><td>10:50:57 19/04/2022^TEMPLATE: Rendering of [D:\Websites\GIT_Repos\green_framework\tests\resources\fake-site.co.uk\templates\unit_test.html] requested</td></tr>
<tr><td>10:50:57 19/04/2022^TEMPLATE: Rendering Header [D:\Websites\GIT_Repos\green_framework\tests\resources\fake-site.co.uk\templates\header.html]</td></tr>
<tr><td>10:50:57 19/04/2022^TEMPLATE: Rendering [D:\Websites\GIT_Repos\green_framework\tests\resources\fake-site.co.uk\templates\unit_test.html]</td></tr>
<tr><td>10:50:57 19/04/2022^TEMPLATE: Rendering Footer [D:\Websites\GIT_Repos\green_framework\tests\resources\fake-site.co.uk\templates\footer.html]</td></tr>
</table>
</footer></html>